.wrapper {
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, .1);
  width: 700px;
  margin: auto;
}

/* Top color around text */
header {
  height: 100px;
  background-color: rgba(0, 0, 0, .9);
}

img { width: 100%; }

 /* both header and 2nd h1 */
 h1 {
  font-size: 42px;
  font-family: 'Megrim', cursive;
  color: #5E3B70;
  letter-spacing: 10px;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: 'Megrim', cursive;
  color: #5E3B70;
  font-size: 26px;
  letter-spacing: 4px;
}

/* all <p> */
p {
  font-family: 'Amiri', serif;
  color: #343434;
}

/* only the two paragraphs */
.paragraph {
  line-height: 20px;
  padding-left: 50pt;
  padding-right: 50pt;
  text-indent: 30pt;
}

/* list items icon */
#lightning {
  font-family: 'Amiri', serif;
  line-height: 20px;
  list-style-image: url(lightning-icon.png);
  color: #343434;
}

footer {
  font-family: 'Amiri', serif;
  color: #5E3B70;
  font-size: 16px;
  height: 105px;
  background-color: rgba(0, 0, 0, .9);
  text-align: center;
}

a {
  font-family: 'Amiri', serif;
}
a:link    { color: #1156A6;  }
a:visited { color: purple;   }
a:hover   { color: black;
text-decoration: line-through; }
a:active  { color: #1156A6;
text-decoration: none; }
